table {
    max-width: 620px;
}

.select-token {
    box-shadow: inset 0px 0px 4px blue
}

.red {
    background-color: #d63031
}

.blue {
    background-color: #0984e3
}

.green {
    background-color: #00b894
}

.yellow {
    background-color: #fff200
}

.orange {
    background-color: #f39c12
}

.token {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

/* chat styles */
#chat-component {
    overflow: hidden;
    z-index: 0;
    overflow-y: scroll;
    font-size: 12px;
    /*display: none; */
}

#message-input {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3px
}

.messages {
    padding: 5px;
    margin: 0px;
    font-size: 12px;
}

.messageBody {
    padding: 5px;
}

#scoreboard-component {}