.select-tile {
    -webkit-box-shadow: inset 0px 0px 26px -1px rgba(115, 190, 240, 1);
    -moz-box-shadow: inset 0px 0px 26px -1px rgba(115, 190, 240, 1);
    box-shadow: inset 0px 0px 26px -1px rgba(115, 190, 240, 1);
}