body {
    background-color: #74b9ff;
}

#board-container {
    background-color: white;
}

#current-player
{
    padding-top: 5px;
    padding-left: 540px;
    padding-bottom: 12px;
    font-size: 24px;
}

.select-token {
    -webkit-box-shadow: inset 0px 0px 26px -1px rgba(115, 190, 240, 1);
    -moz-box-shadow: inset 0px 0px 26px -1px rgba(115, 190, 240, 1);
    box-shadow: inset 0px 0px 26px -1px rgba(115, 190, 240, 1);
}

.red {
    background-color: red;
}

.blue
{
    background-color: blue;
}

.green
{
    background-color: green;
}

.orange
{
    background-color: orange;
}

.yellow
{
    background-color: yellow;
}

.token {
    width: 100%;
    height: 58px;
    border-radius: 50%;
}

/* chat styles */
#chat-component {
    overflow: hidden;
    z-index: 0;
    overflow-y: scroll;
    font-size: 12px;
    /*display: none; */
}

#message-input {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 3px;
}

.messages {
    padding: 5px;
    margin: 0;
    font-size: 12px;
}

.messageBody {
    padding: 5px;
}

#scoreboard-component {
}